input {
    outline: 0;
    border-width: 0 0 2px;
    border-color: rgb(23, 23, 23)
}

input:focus {
    border-color: rgb(50, 50, 233);
    box-shadow: 0 5px 5px -2px rgb(50, 50, 233);
}



/* BASIC STYLES HERE */